
/*
    Lite enkel css för index.html
*/

body {
    margin-left: 10px;
    margin-top: 0px;
    background-color: lightgrey;
    font-family: 'Manjari', sans-serif;
}

.login-div {
    border-radius: 25px;
    border: 2px black solid;
    width: 400px;
    padding: 30px;
    
    /*background-color: #F3E0BE;*/
}

#login, #pass {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 3px;
}

button {
    font-family: 'Manjari', sans-serif;
    font-weight: bold;
    padding: 5px;
}

.col-sm-6 {
    color: white;
    padding: 20px;
    background-color: black;
    font-size: 25px;
}

a {
    color: gray;
}

a:hover {
    color: silver;
}

#mess {
    padding-top: 30px;
}

#icon {
    text-align: right;
}